.final-section
	text-align: center
	margin-bottom: 2rem

//RESPONSIVE TABLET
@mixin final-section-tablet
	.final-section
		background: url(/images/illustration-laptop-desktop.svg) no-repeat
		background-position: -50%
		background-size: 65%
		margin-bottom: 3rem
		text-align: left
		.image
			opacity: 0
			z-index: -1

//RESPONSIVE DESKTOP
@mixin final-section-desktop
	.final-section
		background: url(/images/illustration-laptop-desktop.svg) no-repeat
		background-position: -10%
		background-size: contain
		text-align: left
		.image
			opacity: 0
			z-index: -1

// RESPONSIVE DESKTOP FULL
@mixin final-section-desktop-full
	.final-section
		background: url(/images/illustration-laptop-desktop.svg) no-repeat
		background-position: 10vw
		background-size: contain