.hero-banner
    background: url('/images/bg-pattern-intro-desktop.svg'), $gradient-1
    background-position: left, center
    background-repeat: no-repeat
    background-size: 150%, 100%
    border-bottom-left-radius: 100px