.first-section
    text-align: center
    
//RESPONSIVE DESKTOP
@mixin first-section-desktop
    .first-section
        background: url(/images/illustration-editor-desktop.svg) no-repeat
        background-position: 55vw
        background-size: contain
        margin: 2rem 0px
        text-align: left
        .image
            opacity: 0
            z-index: -1
    
//RESPONSIVE DESKTOP FULL
@mixin first-section-desktop-full
    .first-section
        background: url(/images/illustration-editor-desktop.svg) no-repeat
        background-position: 60vw
        background-size: contain
        margin: 3rem 0px