@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400;1,700&display=swap')

h1, h2, h3, h4, h5, h6
    font-family: 'Overpass', sans-serif

p
    font-size: 1rem
    font-family: 'Ubuntu', sans-serif